/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
}

.card-subtitle {
  margin: 7px 0 5px;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}
/* **************NAV************** */
nav {
  display: flex;
  justify-content: space-between;
}
.logo-part {
  padding: 30px 0;
}
.logo-part img {
  height: 20px;
}
.right-part ul {
  padding: 16px;
  display: flex;
}
.right-part li {
  transition: 0.2s;
}
.right-part li:nth-child(1):hover:before,
.right-part li:nth-child(2):hover:before  {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-16px);
  border-top: 2px solid #0065fc;
}
.right-part li:nth-child(2){
  position: relative;
}
.right-part li:nth-child(1) {
  position: relative;
  margin-right: 75px;
}
.right-part li:nth-child(1):hover,
.right-part li:nth-child(2):hover {
color: #0065fc;
}
/* **************NAV************** */
.title-part {
  max-width: 750px;
}
.title-part h1 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-top: 20px;
}
.title-part p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* ***********SEARCH BAR************* */
.search-bar i {
  background-color: #f2f2f2;
  color: black;
  padding: 16px 17px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.search-bar {
  margin: 30px 0;
  display: flex;
  width: 25%;
}

.search-bar input {
  color: black;
  font-weight: 900;
  flex: 1; /* Permet à l'élément input de prendre autant d'espace que possible */
  margin: 0;
  outline: none;
  padding: 15px 17px;
  border: 1px solid #f2f2f2;
}

.search-bar button {
  cursor: pointer;
  padding: 16px 17px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0065fc;
  font-weight: 600;
  color: white;
  outline: none;
  border: none;
}

.search-icon {
  display: none;
}
.search-bar .search-icon {
  border-radius: 15px;
  background-color: #0065fc;
  color: white;
}
/* ***************FILTER PART**************** */
.filter-part {
  display: flex;
  align-items: center;
}
.filter-part p {
  font-weight: 900;
  font-size: 1.1rem;
  margin-right: 25px;
}
.btn {
  margin-right: 15px;
  border-radius: 25px;
  color: black;
  font-size: 1rem;
  font-weight: 900;
  background: none;
  border: 2px solid #e3e3e3;
  padding: 15px 20px;
  transition: 0.2s;
}
.btn:hover {
  background-color: #deebff;
}
.btn i {
  margin-right: 7px;
}

.infos-part {
  margin: 40px 0;
  display: flex;
  align-items: center;
}
.infos-part i {
  color: #0065fc;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-radius: 100%;
  border: 2px solid #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  background-color: #f2f2f2;
}

.hebergements-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.hebergements-cards {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.hebergements-cards .card {
  transition: 0.2s ease;
  width: 100%;
}
.hebergements-cards .card:hover{
  transform: scale(1.05);
}

.hebergements-cards img {
  width: 100%;
  height: 116px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.hebergements-cards .card-content-hebergement {
  padding-left: 15px;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.hebergement-footer-title p{
  font-size: 1.1rem;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
  background-color: #f2f2f2;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
  transition: 0.2s ease;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
 
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.populaires-cards .card:hover{
 transform: scale(1.05);
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* ******************ACTIVITE******************* */
.activite {
  padding: 0 40px;
}

.activite h2 {
  margin: 65px 0 0 0;
  font-size: 1.2rem;
}
.all-card {
  flex: 1;
  display: flex;
  justify-content: center;
}
.activity-card {
transition: 0.2s ;
  flex: 1;
  margin-top: 33px;
  margin-right: 35px;
  border-radius: 20px;
  box-shadow: 0 3px 11px 0px rgba(0, 0, 0, 0.224);
}
.activity-card:hover {
  transform: scale(0.9);
}

.activity-card img {
  object-fit: cover;
  width:100%;
  height: 83%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.activity-card h3 {
  font-size: 0.9rem;
  padding: 15px 15px 20px 15px;
  font-weight: 600;
}
.all-networks {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  background-color: #f2f2f2;
}
.network {
  padding: 10px 0 50px 20px;
}
.network p {
  font-weight: 600;
  font-size: 1.1rem;
  padding: 10px 0;
}
.network li {
  margin: 10px 0;
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .title-part h1{
    font-size: 1.4rem;
  }
  .filter-part{
    display: block;
  }
  .filter-part p{
    margin-bottom: 20px;
  }
  .main-container {
    padding: 0 20px;
  }
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements-cards img {
    width: 100%;
    height: 106px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .hebergements-cards {
    justify-content: center;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  /* **************ACTIVITE*************** */
  .activity-card {
    margin-top: 30px;
    margin-right: 25px;
    border-radius: 20px;
    box-shadow: 0 3px 11px 0px rgba(0, 0, 0, 0.224);
    max-width: 180px;
  }

  .activity-card img {
    object-fit: cover;
    width: 100%;
    height: 196px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .activity-card h3 {
    font-size: 0.8rem;
    padding: 10px 0px 10px 15px;
    font-weight: 600;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  nav {
    display: block;
    padding: 0px;
  }
  .logo-part {
    text-align: center;
    padding: 20px 0 10px 0;
  }

  .right-part ul {
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
 
  .right-part li:nth-child(2):before{
    display: none;
  }
  .right-part li:nth-child(1):before {
    display: none;
}
.right-part li:nth-child(1),
.right-part li:nth-child(2){
    position: relative;
    margin-right: 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.right-part li:nth-child(1):hover:after{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    border-top: 2px solid #0065fc;
}
.right-part li:nth-child(1):after{
  transition: 0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  border-top: 2px solid #f2f2f2;
}

.right-part li:nth-child(2):hover:after{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    border-top: 2px solid #0065fc;
}
.right-part li:nth-child(2):after{
  transition:0.3s ease-in-out;
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  border-top: 2px solid #f2f2f2;
}

.right-part ul{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 16px 0;
}

  /* **************NAV************** */
  .title-part {
    max-width: 750px;
    padding: 20px 20px 0px 20px;
  }
  .title-part h1 {
    padding: 15px 0 10px 0;
    font-size: 1.4rem;
    margin: 0;
  }
  .title-part p {
    font-size: 1.1rem;
    margin: 0;
  }
  /* *************SEARCH BAR************ */
  .search-bar input {
    flex: 1; 
  }
  .search-bar .search-icon {
    border-top-left-radius:0px;
    border-bottom-left-radius: 0px;
  }
  .search-button {
    display: none;
  }

  .search-icon {
    display: inline-block;
    cursor: pointer;
  }

  .search-bar {
    margin: 30px 40px;
    width: 80%; 
  }
  

  .search-bar .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065fc;
    color: white;
    cursor: pointer;
    padding: 16px 17px;
  }

  .search-bar input {
    color: black;
    font-weight: 900;
    flex: 1; 
    margin: 0;
    outline: none;
    padding: 15px 17px;
    border: 1px solid #f2f2f2;
  }

  .search-bar button {
    cursor: pointer;
    padding: 16px 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065fc;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
  }
  /* **************FILTER****************** */
  .filter-part {
    padding: 0 20px;
    display: block;
  }
  .filter-part h2 {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }
  .all-btn {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }
  .btn {
    width: 100%;
  }

  .infos-part {
    padding: 0 20px;
    margin: 30px 0;
    display: flex;
    align-items: center;
  }
  /* ***************HEBERGEMENT AND POPULAIRE***************** */
  .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .hebergements-and-populaires section {
    border-radius: 0px;
  }
  .hebergements-cards .card{
    margin-top: 20px;
  }

  .populaires {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
  }

  .populaires-cards {
    display: block;
  }

  .hebergements {
    background-color: white;
  }

  .hebergements-cards {
    display: block;
    align-items: center;
  }

  .hebergements-cards img {
    width: 100%;
    height: 116px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .hebergements-cards .card {
    margin-right: 0px;
  }
  .hebergement-footer-title{
    margin-top: 15px;
  }

  .hebergement-footer-title h2{
    font-size: 1.2rem;
  }
  /* **********ACTIVITE*********** */
  .activite {
    padding: 0 30px;
  }

  .activite h2 {
    margin: 55px 0 0 0;
    font-size: 1.3rem;
  }
  .all-card {
    display: block;
  }
  .activity-card {
    max-width: 1000px;
    margin-right: 0px;
  }

  .activity-card img {
    width: 100%;
    height: 140px;
  }
  .activity-card h3 {
    font-size: 0.9rem;
    padding: 15px 15px 20px 15px;
    font-weight: 600;
  }
  /* ***********NETWORK************* */
  .all-networks {
    margin-top: 60px;
    display: block;
    background-color: #f2f2f2;
  }
  .network {
    padding: 10px 0 40px 20px;
  }
  .network h3 {
    padding: 10px 0;
  }
  .network li {
    margin: 10px 0;
  }
}
